.form_wrapper {

    z-index:8;
width: 250px;
height:250px;
background: red;
margin: 
}
.index_wrapper {
    z-index:1;
}

.button_css {
  background: linear-gradient(pink,
turquoise);
    padding:5px 10px 5px 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 5px black;
}

.mod {

margin: 0px 0px 0px 25px;
}

.users_grid {
  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    

}
.vk_wrapper {

    display:grid;
  
  }
  .vk_grid {
    height: 50px;
      width: 50px;
       
   position: relative;
  
  }
  .vk_grid img  {
  
   position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit:  cover;
      border-radius: 15px;
  }
  
  .VK_GRid {
  
  display: grid;
  grid-template-columns: 100px 100px 100px ;
  
  }




  .sa {
color:blanchedalmond;
text-decoration: none;

  }
  .chex {
    width: 100px;
    height: 15px;
    padding: 0px 0px 0px 15px;
    border-radius: 10px 10px 10px 10px ;
    background: rgba(215, 154, 181, 1);
   border: solid 2px black;

    
  }
  .chex:before {
   content: '';
   width: 25px;
 height: 12px;
 border-radius: 50%;
 background: honeydew;
 padding: 1px 10px;

  }

  .button_nav {
    color: white;
    background:rgba(215, 154, 181, 1);
    border: none;
  }
  .Whatsapp {
    height: 50px;
    width: 50px;
    border-radius: 29px 25px 22px 1px;
    background-image: url("whatp.png")
  }

  .imageprofile_grid {
    display: grid;
    grid-template-columns: 1fr 450px 450px 1fr;
  }
  .imageprofile{
    grid-column: 2/3; 
    height: 450px;
      width: 250px;
       
   position: relative;
  }
  .imageprofile img {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:  cover;
    border-radius: 15px;
  }
  .imageprofile_text {
    grid-column: 3/4; 

  }